<h2>{{ matchs.team_a_name }} vs. {{ matchs.team_b_name }}</h2>
<h2>{{ matchs.current_map.map_name }}</h2>
<h3>{{ matchs.team_a_name }} - {{ matchs.score_a }}</h3>
<table width="50%">
    <thead>
    <tr>
        <th width="30%">
            Player Name
        </th>
        <th>
            Kills
        </th>
        <th>
            Assists
        </th>
        <th>
            Deaths
        </th>
        <th>
            KDR
        </th>
        <th>
            FPR
        </th>
        <th>
            HSP
        </th>
    </tr>
    </thead>
    <tbody>
    {% for player in matchs.players.all %}
        {% if player.team == "a" %}
            <tr>
                <td>{{ player.pseudo }}</td>
                <td>{{ player.nb_kill }}</td>
                <td>{{ player.assist }}</td>
                <td>{{ player.death }}</td>
                <td>{{ player.kdr|floatformat:2 }}</td>
                <td>{{ player.fpr|floatformat:2 }}</td>
                <td>{{ player.hsp|floatformat:2 }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<h3>{{ matchs.team_b_name }} - {{ matchs.score_b }}</h3>
<table width="50%">
    <thead>
    <tr>
        <th width="30%">
            Player Name
        </th>
        <th>
            Kills
        </th>
        <th>
            Assists
        </th>
        <th>
            Deaths
        </th>
        <th>
            KDR
        </th>
        <th>
            FPR
        </th>
        <th>
            HSP
        </th>
    </tr>
    </thead>
    <tbody>
    {% for player in matchs.players.all %}
        {% if player.team == "b" %}
            <tr>
                <td>{{ player.pseudo }}</td>
                <td>{{ player.nb_kill }}</td>
                <td>{{ player.assist }}</td>
                <td>{{ player.death }}</td>
                <td>{{ player.kdr|floatformat:2 }}</td>
                <td>{{ player.fpr|floatformat:2 }}</td>
                <td>{{ player.hsp|floatformat:2 }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
