{% for match in matchs_list %}
    <h1>{{ match.id }}</h1>
    <h2>{{ match.current_map.map_name }}</h2>
    <h3>{{ match.team_a_name }}</h3>
    <table>
        <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Kills
            </th>
            <th>
                Assists
            </th>
            <th>
                Deaths
            </th>
            <th>
                KDR
            </th>
            <th>
                FPR
            </th>
            <th>
                HSP
            </th>
        </tr>
        </thead>
        <tbody>
        {% for player in match.players.all %}
            {% if player.team == "a" %}
            <tr>
                <td>{{ player.pseudo }}</td>
                <td>{{ player.nb_kill }}</td>
                <td>{{ player.assist }}</td>
                <td>{{ player.death }}</td>
                <td>{{ player.kdr|floatformat:2 }}</td>
                <td>{{ player.fpr|floatformat:2 }}</td>
                <td>{{ player.hsp|floatformat:2 }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <h3>{{ match.team_b_name }}</h3>
    <table>
        <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Kills
            </th>
            <th>
                Assists
            </th>
            <th>
                Deaths
            </th>
            <th>
                KDR
            </th>
            <th>
                FPR
            </th>
            <th>
                HSP
            </th>
        </tr>
        </thead>
        <tbody>
        {% for player in match.players.all %}
            {% if player.team == "b" %}
            <tr>
                <td>{{ player.pseudo }}</td>
                <td>{{ player.nb_kill }}</td>
                <td>{{ player.assist }}</td>
                <td>{{ player.death }}</td>
                <td>{{ player.kdr|floatformat:2 }}</td>
                <td>{{ player.fpr|floatformat:2 }}</td>
                <td>{{ player.hsp|floatformat:2 }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endfor %}